แบบฝึกหัดที่4-67700975.json
{
  "name": "แบบฝึกหัดที่4-67700975",
  "nodes": [
    {
      "parameters": {
        "path": "data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -16
      ],
      "id": "0fa849df-28c1-47df-9fa3-56fa2c18c0ee",
      "name": "Webhook",
      "webhookId": "9088f345-45b8-47e8-b57b-3a5034dbf9ca",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JPYQexzsxoDjgZq52T-C3x6m0tCj1j0ke3uh2ZTEduc",
          "mode": "list",
          "cachedResultName": "ลงทะเบียน (การตอบกลับ)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JPYQexzsxoDjgZq52T-C3x6m0tCj1j0ke3uh2ZTEduc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 420441245,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JPYQexzsxoDjgZq52T-C3x6m0tCj1j0ke3uh2ZTEduc/edit#gid=420441245"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -16
      ],
      "id": "043f1040-a719-4fc8-ba46-516f3d1ab4bf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "64RHUjPe48GMjrDY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ebb31ca-42e2-4ffe-9628-a0ff4336f3a5",
              "name": "tdate",
              "value": "={{ $json['ประทับเวลา'] }}",
              "type": "string"
            },
            {
              "id": "bf4359ac-dc3e-4ab6-81f7-92cfc5a4c5f1",
              "name": "id",
              "value": "={{ $json['รหัสนักศึกษา'] }}",
              "type": "number"
            },
            {
              "id": "936539c2-b08c-4813-8869-7b851c0e9b0c",
              "name": "fullname",
              "value": "={{ $json['ชื่อ-นามสกุล'] }}",
              "type": "string"
            },
            {
              "id": "e3ebf269-07d7-4de7-a085-82b7609661f8",
              "name": "department",
              "value": "={{ $json['คณะ'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -16
      ],
      "id": "fb96a446-a8ed-4a5b-97b0-62362717a3e8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        -16
      ],
      "id": "2d55e8bd-b813-4b6b-a1cc-e9621be9422e",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "แบบฝึกหัดที่ 4 การใช้งาน API+n8n+google sheets\n67700975\nนายสมเดช สงวนดี"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -192
      ],
      "typeVersion": 1,
      "id": "4407d998-c6dd-49aa-9335-fe6848481cf1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "07a2a6cc-2ab7-4da8-9743-e4a005679e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b77c2389280395abdd36f9827d7fceabf3c99bc7638c232036b3ae02724f484"
  },
  "id": "j30vvFOa9w3OHAjH",
  "tags": []
}